asdl==0.1.5
attrs==23.2.0
cmake==4.3.1
contourpy==1.3.3
cycler==0.12.1
fonttools==4.62.1
importlib_metadata==9.0.0
kiwisolver==1.5.0
matplotlib==3.10.8
ninja==1.13.0
numpy==2.4.4
packaging==26.0
pillow==12.2.0
platformdirs==4.9.4
pyparsing==3.3.2
python-dateutil==2.9.0.post0
six==1.17.0
slangpy==0.40.1
tomli==2.4.1
typing_extensions==4.15.0
yapf==0.40.1
zipp==3.23.0
